@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Silkscreen&display=swap');

* {
  font-family: 'Silkscreen', cursive;
}

body {
  background: #fff !important;
  z-index: 7;
  padding: 30px;
  height: 90vh;
}

header {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 60px;
}

.contenedor-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 3;
}

header h1 {
  color: #111113;
  font-size: 2rem;
  font-family: 'Silkscreen', cursive;
}

.tarjetas {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.num1 {
  width: 500px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 10px solid #fff;
  z-index: 4;
}

.num2 {
  width: 500px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
  border: 10px solid #fff;
  z-index: 4;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  background: #111113;
  border-radius: 20px !important;
  width: 200px;
  height: 50px;
  margin: 10px !important;
  border: none;
  transition: 25'Silkscreen', cursive;
}

button:hover {
  scale: 1.1;
}

#copiar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  border: none;
  background: #111113;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-family: 'Silkscreen', cursive;
}
.mensaje-contenedor {
  height: 80%;
  padding-top: 80px;
}
.contenedor-botones { display: flex; height: 20%;}

input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  color: #111113;
  font-family: 'Silkscreen', cursive;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffdc7c;
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #ffdc7c;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: #ffdc7c;
}

::-webkit-scrollbar-corner {
  background: none;
}

@media screen and (max-width: 1060px) {
  .titulo-contenedor {
    text-align: center;
  }

  .contenedor-principal {
    margin-top: 220px;
  }

  .contenedor-botones {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .titulo-contenedor {
    text-align: center;
  }

  .num1, .num2 {
    width: 100%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .contenedor-principal {
    margin-top: 80px;
  }

  .contenedor-botones {
    display: grid;
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h3 {
  padding-top: 60px;
  font-size: 1rem;
}
