@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Silkscreen&display=swap');

body {
  background: #111113 !important;
  z-index: 7;
  height: 90vh;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: #23262e73;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

header h1 {
  color: #c2c2c2;
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.tarjetas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.num1 {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111113;
  border: 10px solid #111113;
  z-index: 4;
}

.num2 {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #23262e73;
  border: 10px solid #111113;
  z-index: 4;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  background: rgb(174, 87, 255);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  margin: 10px;
  border: none;
  transition: 200ms;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  scale: 1.1;
}

#copiar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  border: none;
  background: rgb(174, 87, 255);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-size: 1rem;
}
.mensaje-contenedor {
  height: 80%;
  padding-top: 80px;
}
.contenedor-botones { display: flex; height: 20%;}

input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  color: #c2c2c2;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(174, 87, 255);
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(174, 87, 255);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgb(174, 87, 255);
}

::-webkit-scrollbar-corner {
  background: none;
}

@media screen and (max-width: 1040px) {
  .titulo-contenedor {
    text-align: center;
  }

  .contenedor-principal {
    margin-top: 280px;
  }
}

@media screen and (max-width: 500px) {
  .titulo-contenedor {
    text-align: center;
  }

  .num1, .num2 {
    width: 100%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .contenedor-botones {
    display: grid;
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

footer h1 {
  font-size: 1rem;
  color: #c2c2c2;
  font-size: 1rem;
}
